/* Default styles for all screen sizes */
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

.form-check {
  cursor: pointer;
  background-color: rgb(53, 161, 53);
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.form-check:hover {
  background-color: rgb(43, 141, 43);
  transform: translateY(-3px);
}

.form-check.selected {
  background-color: red;
}

.form-check-input {
  display: block;
  margin: 0 10px;
}

.form-check-label {
  font-size: 20px;
}

button.done {
  background-color: green;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

button.done:hover {
  background-color: darkergreen;
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
  .options {
    grid-template-columns: 1fr; /* Display options in a single column */
  }
}
